{% extends 'base/base.html' %}

{% block content %}
{% from 'macro.html' import renderform %}

<div id="chat-page-wrapper">
    <div id="contact-list">
    <h3>Usuarios conectados</h3>
    <ul>
        {% for user in all_users %}
            <li class="user-item" onclick="selectUser('{{ user.id }}', '{{ user.username }}')">
                {{ user.username }}
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    let currentReceiverId = null;

    function selectUser(userId, username) {
        currentReceiverId = userId;
        document.getElementById('messages').innerHTML = ""; // Limpiar chat actual
        alert("Ahora hablando con: " + username);
    }
</script>
    <div id="message">
        
        <div id="sub-message">
            <ul id="messages">
                {% if history %}
                    {% for histori in history.items %}
                        {# Comparamos si el emisor del mensaje es el usuario actual #}
                        {% set is_me = (histori[1] == username) %}
                        
                        <div class="chat-main {{ 'my-message' if is_me else 'other-message' }}">
                            
                            {% if not is_me %}
                            <div class="chat-avatar-wrapper">
                                <img class="user_images" src="{{ histori[2] }}" alt="Avatar">
                            </div>
                            {% endif %}
                            
                            <div class="chat-content-body">
                                <span class="chat-username">{{ histori[1] }}</span>
                                <li class="chat-box">
                                    <p id="content">{{ histori[3] }}</p>
                                </li>
                            </div>

                            {% if is_me %}
                            <div class="chat-avatar-wrapper">
                                <img class="user_images" src="{{ histori[2] }}" alt="Avatar">
                            </div>
                            {% endif %}
                            
                        </div>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div id="input-container">
            <form method="POST" accept-charset="utf-8">
               {{ renderform(form.comment, id="my_message", placeholder="Escribe un mensaje aquí...", autocomplete="off") }}
            </form>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
    window.currentUser = "{{ username }}";
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/chat_style.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat_messages.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Ejecuta el scroll inicial si la función ya fue cargada por chat_style.js
        if (typeof window.scrollDiv === "function") {
            window.scrollDiv();
        }
    });
</script>
{% endblock %}
