{%extends 'base/base_logins.html'%}

{%block content %}

	<link rel="stylesheet" href="{{url_for('static',filename='css/login_style.css')}}">
	{%from 'macro.html' import renderform%}

	<div id="login_container">
		
		<div id="login_container_form">

			<form action = '/login' id ='form_login', method="POST">
				<h2>Login</h2>
				{{renderform(form.username, class ='form_style')}}
				{{renderform(form.password, class ='form_style')}}
				<button type='submit'>CONFIRM</button>
				<br>



				<a href="{{url_for('register')}}" >You not have acount?</a>
				
			</form>
		</div>
	</div>



{%endblock%}